---
layout: default
---
<div class="col-sm-8 blog-main">
    <div class="sidebar-module">
        <h4>文章列表</h4>
        <ol class="list-unstyled">
            {% for post in site.posts %}
            <li><a href="{{site.url}}{{post.url}}">{{post.date|date:"%Y-%m-%d"}}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{{post.title}}</a></li>
            {% endfor %}
        </ol>
    </div>
    <!--{% for post in site.posts %}-->
    <!--<div class="panel panel-info">-->
        <!--<div class="panel-heading">-->
            <!--<h1 class="panel-title">{{post.title}}</h1>-->
        <!--</div>-->
        <!--<div class="panel-body">{{post.content |strip_html| truncate: 200 }}</div>-->
    <!--</div>-->
    <!--{% endfor %}-->
</div><!-- /.blog-main -->
　
